@import url(header.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


main {
  background-color: #ebebeb;
  text-align: center;
  justify-content: center;
  margin: 0;
  font-family: roboto, sans-serif;
  color: #666;
}
form label{
  display: none;
}

form input {
  border-radius: 5px;
  padding: 5px;
  border: none;
  text-align: left;
  width: 80%;
  height: 24px;
  margin:15px auto;
}

.input-form-fecha {
  padding: 5px;
  color: black;
  font-size: 12px;
  margin: 10px 0;
  text-align: left;
}

h4 {
  color: black;
  margin: 10px;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

.label-perfil {
  display: flex;
  flex-direction: row;
  color: black;
}

div.perfil {
  color: black;
  display: flex;
  flex-direction: row;
  width: 70vw;
}

div.perfil,
label {
  padding-top:12px;

}

div.intereses {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-start;
  color: black;
width: 120px;
}
.intereses label{
  display: flex;
  flex-direction: row;
width: 12px;
padding: 15px;

}


#electro,
#moda,
#hogar,
#jugueteria,
#vida_sana{ 
  width: 100px;
}

.avatar {
  color: black;
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.button-send {
  margin-top: 10px;
  background-color: #1259c3;
  color: white;
  text-align: center;
}

.enviar{
  text-align: center;
  background-color: #1259c3;
  color: white;
}

@media  (max-width:767px){
  header{
    margin: 0;
  }
    header ul {
      display: none;
    }
    
      main {
    
        width: 90vw;
        margin: 0 auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
      }
  }

@media (min-width: 768px) and (max-width:1023px) {

  main {

    width: 90vw;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }



  h4 {
    display: block;
  }
}

@media (min-width: 1024px) {
  main {
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }


  h4 {
    display: block;
  }
}