@import url(header.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {

  list-style: none;
  font-family: roboto;
}

main {
  background-color: #ebebeb;
  justify-content: center;
  margin: auto;
  width: 100%;
}

main section article h2 {
  margin-bottom: 20px;
  color: #666;
}

main article.titulo {
  padding-top: 0;
}

main article {
  width: 100%;
  padding: 15px;
  background-color: #ebebeb;
}

img {
  width: 100%;
}

.truck-container {
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: center;
  border: 1px solid #39b54a;
  border-radius: 50%;
}

.fa-truck {
  margin-bottom: 4px;
  font-size: 12px;
  color: #39b54a;
}

.descripcion-producto {
  width: 100;
  border-top: 1px solid #ebebeb;
  background-color: white;
  padding: 15px;
}

.precio-producto {
  font-size: 18px;
}

.descuento-producto {
  text-transform: lowercase;
  font-size: 16px;
  color: #39b54a;
}

h4 {
  display: none;
  margin-top: 15px;
  color: #666;
  font-size: 16px;
}

@media (max-width:767px) {
  main {
    background-color: #bebbbb;
  }

  .burger {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width:1023px) {

  main {

    width: 90vw;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .banner {
    width: 100vw;
  }

  h4 {
    display: block;
  }
}

@media (min-width: 1024px) {
  main {
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .banner {
    width: 100vw;
  }

  h4 {
    display: block;
  }

}